@model PasswordViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("Password", "Home", FormMethod.Post, new { id = "InfoForm" }))
{
<div class="row">
    <div class="col text-right">
        <div class="form-group requared">
            @Html.LabelFor(e => e.Password)
            @Html.TextBoxFor(e => e.Password)
            @Html.ValidationMessageFor(e => e.Password)
        </div>
        <div class="form-group requared">
            @Html.LabelFor(e => e.ConfirmPassword)
            @Html.TextBoxFor(e => e.ConfirmPassword)
            @Html.ValidationMessageFor(e => e.ConfirmPassword)
        </div>
        <div class="form-group">
            <recaptcha />
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(e => e.TermOfUse)
            <span>I have read and accept terms of use</span>
        </div>
    </div>
    <div class="col adition-info">
            <div>Inctructions:</div>
            <br/>
            <div>
                <div>Password must include:</div>
                <div>- at least 8 characters</div>
                <div> - an UPPER case letter</div>
                <div>-a lover case letter </div>
                <div>-a number </div>
            </div>
    </div >
</div >
<div class="row float-right mr-5">
    <button class="btn" value="Password">Back</button>
    <button class="btn btn-primary" value="Completed">Next</button>
 </div>
}
